.vscode/
build/
logs/
docker/
pids/
output/
run/svea_stream
run/usb_stream
run/homography_points.yaml
__pycache__/
*.env

run/calc_pers.py
run/docker-compose-fmq-svea2.yml
mpc_guidance_bridge/build/
mpc_guidance_bridge/log/
mpc_guidance_bridge/install/
mpc_guidance_bridge/test/